@import url('https://fonts.googleapis.com/css?family=Exo:400,500,600,700');
html, body {
	font-family: 'Exo', sans-serif !important;

	
}

.notelist{
	width:100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.note{
	width:254px;
	height:300px;
	background-color: #a67a22;
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0.5rem;
}
.note p{

	color:white;
}

.noteform{
	width:50%;
	margin-top:0.5rem;
	margin-left:auto;
	margin-right:auto;
}

.noteform label{
	color:white;
}

.noteform textarea{
	width:100%;
}

li {
	list-style: none;
}

.btn-2ndcol{}
.btn-3rdcol{}

.striped {
	padding-left:0 !important;
}

p {
	font-size: 1.2rem !important;
}

footer p {
	font-size: 1rem !important;
}

strong {
	font-weight: bold !important;
}

html, body, header {
	height: 90%;
}

.view {
	height:100%;
}

@media (max-width: 740px) {

	html, body, header, .view {
		height: 100vh;
	}
}

.top-nav-collapse {
	background-color: #21293c !important;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
	box-shadow: none;
}

@media (max-width: 991px) {
	.navbar:not(.top-nav-collapse) {
		background: #21293c !important;
	}

	.nav-flex-icons {
		padding-top:1em !important;
		padding-bottom:0.5em !important;
	}
}

#index-service {
	padding-top: 2em; 
	padding-bottom: 4em;
}

#about-us-blog {
	padding-top: 2em; 
	padding-bottom: 4em;
}

.about-blog-icon {
	font-size: 15em !important;
}

.header-icon {
	font-size: 1.5em !important;
}