{% extends 'layout.jinja2' %}

<head>
    <title>{% block title %} About Us | SIMM {% endblock %}</title>
    <meta name="description" content="About Us, SIMM is a proven leader in the area of progressive website & web app development." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website,
    progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development,
    custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application,
    website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="About Us | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za/about.html" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="About Us, SIMM is a proven leader in the area of progressive website & web app development." />
    <meta name="twitter:title" content="About Us | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za/about.html" />
    <meta name="twitter:card" content="summary" />

</head>
{% block nav_active2 %} active {% endblock %}
{% block nav_span2 %}<span class="sr-only">(current)</span> {% endblock %}

{% block content %}

<!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/about-us-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">What about
                                SIMM? Who are we, what do we do</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">Get to know us more, who we are and how we envision the future.</h5>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="overlay rounded z-depth-1 mb-lg-0 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/about-main.png") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h2 class="font-weight-bold mb-3"><strong>Everything you need for your business.</strong></h2>
                    <p>SIMM is a Front-End Progressive website & Web App Development and Digital Marketing Agency in
                        South Africa. SIMM designs and develops progressive websites and web apps. SIMM also hosts
                        websites and creates online campaigns for your business.</p>
                    <p>Progressive Website & Web App Development is new technology to help improve your online
                        presence. Progressive Websites are designed to be offline capable and fast. SIMM has taken this
                        new technology and can incorporate it into your business, to bring the future of websites and
                        web apps into your business, to take you a step ahead of the game.</p>
                </div>
            </div>
            <!-- Grid row -->
        </div>
    </section>

    <!-- Section: Blog v.3 -->
    <section id="about-us-blog" class="my-5">
        <div class="container">
            <h2 class="font-weight-bold text-center my-5">More news on Progressive Websites / Web Apps and
                Services Workers!</h2>
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <div style="text-align: center !important;" class="overlay rounded mb-lg-0 mb-4">
                        <i class="fab fa-uber about-blog-icon"></i>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8">
                    <h3 class="font-weight-bold mb-3"><strong>Building m.uber: Engineering a High-Performance Web App
                            for the Global Market</strong></h3>
                    <p class="dark-grey-text"><strong>Uber’s</strong> PWA was designed to be fast even on 2G. The core
                        app is only <strong>50k</strong> gzipped and takes less than <strong>3</strong> seconds to load
                        on 2G networks.</p>
                    <p>by <a class="font-weight-bold">Angus Croll</a>, June 27, 2017 </p>
                    <a href="https://eng.uber.com/m-uber/" target="_blank" class="btn rounded btn-black btn-md">Read
                        more</a>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <div style="text-align: center !important;" class="overlay rounded mb-lg-0 mb-4">
                        <i class="red-text fab fa-pinterest about-blog-icon"></i>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8">
                    <h3 class="font-weight-bold mb-3"><strong>A Pinterest Progressive Web App Performance Case Study</strong></h3>
                    <p class="dark-grey-text"><strong>Pinterest</strong> rebuilt their mobile site as a PWA and core
                        engagements increase by <strong>60%</strong>. They also saw a <strong>44%</strong> increase in
                        user-generated ad revenue increased by <strong>40%</strong>.</p>
                    <p>by <a class="font-weight-bold">Addy Osmani</a>, Nov 29, 2017</p>
                    <a href="https://medium.com/dev-channel/a-pinterest-progressive-web-app-performance-case-study-3bd6ed2e6154"
                        target="_blank" class="btn btn-red rounded btn-md">Read more</a>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <div style="text-align: center !important;" class="overlay rounded mb-lg-0 mb-4">
                        <i class="blue-text fab fa-twitter about-blog-icon"></i>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8">
                    <h3 class="font-weight-bold mb-3"><strong>Twitter Lite PWA Significantly Increases Engagement and
                            Reduces Data Usage</strong></h3>
                    <p class="dark-grey-text"><strong>Twitter Lite</strong> saw a <strong>65%</strong> increase in
                        pages per session, <strong>75%</strong> in Tweets, and a <strong>20%</strong> decrease in
                        bounce rate. Twitter Lite loads in under <strong>3</strong> seconds for repeat visits even on
                        slow networks.</p>
                    <p>by <a class="font-weight-bold">Google Dev</a>, May 17, 2017</p>
                    <a href="https://developers.google.com/web/showcase/2017/twitter" target="_blank" class="btn rounded btn-primary btn-md">Read
                        more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.3 -->



    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->
{% endblock %}