{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} {% endblock %}</title>

</head>
{% block nav_active %} active {% endblock %}
{% block nav_span %}<span class="sr-only">(current)</span> {% endblock %}

{% block content %}

{% endblock %}