{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Digital Marketing || SIMM {% endblock %}</title>
    <meta name="description" content="Best and most successful campaigns for digital marketing. Contact us today!" />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Digital Marketing | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="Best and most successful campaigns for digital marketing. Contact us today!" />
    <meta name="twitter:title" content="Digital Marketing | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za" />
    <meta name="twitter:card" content="summary" />

</head>

{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/services-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Take your
                                business into the future!</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">Welcome to SIMM a front-end progressive website & web app
                                development agency in South Africa.</h5>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Section: Blog v.2 -->
    <section class="text-center my-5">
        <div class="container">
            <h2 class="font-weight-bold my-2">List of Digital Marketing Platforms</h2>
            <p class="dark-grey-text mx-auto mb-5">Below are the best marketing platform we offer for digital
                marketing.</p>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="overlay rounded mb-4">
                        <img class="img-fluid" src="{{ url_for("static", filename="images/google.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <h4 class="font-weight-bold mb-3"><strong>Google Search Engine Marketing</strong></h4>
                    <p class="dark-grey-text">A very powerful tool for people searching for a product or service.</p>
                    <a target="_blank" href="https://ads.google.com/intl/en_za/start/?subid=za-en-ha-g-aw-c-0-b6_xx_txx_xx_xx_bau_non!o2~108104335-230312056041-kwd-57086730&sourceid=awo&utm_source=aw&utm_medium=ha&utm_campaign=za-en-ha-g-aw-c-0-b6_xx_txx_xx_xx_bau_non!o2~108104335-230312056041-kwd-57086730&gclid=CjwKCAiAxJPVBRB4EiwAsCA4aUhIpLErqFfhTFfyJnr4ITzJGOKFXdh5PZ3YYOtIHsGZgqLEgr1jEBoCDI4QAvD_BwE&dclid=CJqO0bn049kCFRYS0wodLp8AVA"
                        class="btn btn-primary btn-rounded rounded">Read more</a>

                </div>
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <div class="overlay rounded mb-4">
                        <img class="img-fluid" src="{{ url_for("static", filename="images/instagram.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <h4 class="font-weight-bold mb-3"><strong>Facebook and Instagram Marketing</strong></h4>
                    <p class="dark-grey-text">Over 3 billion people use Facebook. using this huge social media platform
                        along with Instagram to gain reach and branding.</p>
                    <a href="https://www.facebook.com/business/products/audience-network?ref=fbb_bluebar" target="_blank"
                        class="btn btn-primary btn-rounded rounded">Read more</a>
                </div>
                <div class="col-lg-4 col-md-6 mb-0">
                    <div class="overlay rounded mb-4">
                        <img class="img-fluid" src="{{ url_for("static", filename="images/linkedin.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <h4 class="font-weight-bold mb-3"><strong>LinkedIn Marketing</strong></h4>
                    <p class="dark-grey-text">The best profile and business linking platform. Market to other
                        businesses and increase your client base.</p>
                    <a href="https://business.linkedin.com/marketing-solutions" target="_blank" class="btn btn-primary btn-rounded rounded ">Read
                        more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.2 -->

    <section class="my-5">
        <div class="container">
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="font-weight-bold my-5">Features of Digital Marketing</h3>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Target Market</h5>
                            <p class="grey-text">Target your client based on the demographics or interests to increase
                                your awareness.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Brand Awarness</h5>
                            <p class="grey-text">Digital Marketing is the best to get people to see your brand and what
                                you offer for future potential clients.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Marketing Strategy</h5>
                            <p class="grey-text">With the best marketing strategies to get the best out of your
                                marketing campaigns.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Creative Campaigns</h5>
                            <p class="grey-text">Using unique campaigns to provide the best potential client conversion
                                for your business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects section v.3 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}