{% extends 'layout.jinja2' %}

<head>
    <title>{% block title %} Progressive Website & Web App | SIMM {% endblock %}</title>
    <meta name="description" content="SIMM is a Front-End Progressive Website and Web App development Agency in South Africa. SIMM develops custom designed websites for your business." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Progressive Website & Web App | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="SIMM is a Front-End Progressive Website and Web App development Agency in South Africa. SIMM develops custom designed websites for your business." />
    <meta name="twitter:title" content="Progressive Website & Web App | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za" />
    <meta name="twitter:card" content="summary" />

</head>
{% block nav_active %} active {% endblock %}
{% block nav_span %}<span class="sr-only">(current)</span> {% endblock %}

{% block content %}

     <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style=" background-image: url({{ url_for("static", filename="images/index-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Take your
                                business into the future!</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">Welcome to SIMM a front-end progressive website & web app
                                development agency in South Africa.</h5>
                            <div class="smooth-scroll wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <div class="container">
        <section id="section1" class="magazine-section my-5">
            <h1 class="font-weight-bold my-5">Everything you need for your business.</h1>
            <p class="dark-grey-text mb-2">SIMM is a Front-End Progressive website & Web App Development and
                Digital Marketing Agency in South Africa. SIMM designs and develops progressive websites and web
                apps. SIMM also hosts websites and creates online campaigns for your business.</p>
            <p class=" dark-grey-text mb-5">Progressive Website & Web App Development is new technology to help
                improve your online presence. Progressive Websites are designed to be offline capable and fast.
                SIMM has taken this new technology and can incorporate it into your business, to bring the future
                of websites and web apps into your business, to take you a step ahead of the game.</p>
            <hr class="my-5">
            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <div class="single-news mb-4">
                        <div class="overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home1.jpg") }}" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <h2 class="font-weight-bold dark-grey-text mb-3"><a>Our goals are divergent to others!</a></h2>
                        <p class="dark-grey-text">We believe that every company can have extensive impact on their
                            clients and the world. We can help achieve this by developing and incorporating our
                            development into everyones websites and web apps.</p>
                        <a href="/about_us" class="btn btn-primary btn-rounded rounded">About Us</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="single-news mb-4">
                        <div class="overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home2.jpg") }}" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <h2 class="font-weight-bold dark-grey-text mb-3"><a>We know the undertaking!</a></h2>
                        <p class="dark-grey-text">Progressive, Responsive, Javascript applications, PHP
                            applications. We try to provide high quality and functionality applications and
                            websites.</p>
                        <a href="/services" class="btn btn-primary btn-rounded rounded">Services</a>
                    </div>
                </div>

            </div>
        </section>

        <!-- Section: Blog v.2 -->
        <section id="index-service" class="text-center my-5">
            <h2 class="font-weight-bold my-5">SIMM Provides three main services at our finest ability!</h2>
            <div class="row">

                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home-services1.jpg") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a href="#!" class="green-text">
                        <h6 class="font-weight-bold mb-3"><i class="fa fa-desktop pr-2"></i>Development</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Progressive Website & Web App</strong></h4>
                    <p class="dark-grey-text">The future of web development is here. Progressive Websites & Web
                        Apps are incredible. Learn more now and take your business to the next level</p>
                    <a href="/progressive" class="btn btn-green btn-rounded rounded">Read more</a>
                </div>

                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <div class="overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home-services2.jpg") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a href="#!" class="deep-orange-text">
                        <h6 class="font-weight-bold mb-3"><i class="fa fa-bullhorn pr-2"></i>Social Media</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Social Media & Search Engine Marketing</strong></h4>
                    <p class="dark-grey-text">Modern and fully mobile responsive. SIMM does not only focus on the
                        look of the website but how it functions. Providing SEO and Responsive web development.</p>
                    <a href="/digital_marketing" class="btn btn-deep-orange btn-rounded rounded ">Read more</a>
                </div>

                <div class="col-lg-4 col-md-6 mb-0">
                    <div class="overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home-services3.jpg") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a href="#!" class="blue-text">
                        <h6 class="font-weight-bold mb-3"><i class="fa fa-cloud pr-2"></i>Hosting</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Website & Web App SSD Hosting</strong></h4>
                    <p class="dark-grey-text">SIMM offers affordable website hosting plans from personal plans to
                        even reseller. Providing a 24/7 uptime.</p>
                    <a href="/pricing" class="btn btn-info btn-rounded rounded ">Read more</a>
                </div>
            </div>
        </section>
        <!-- Section: Blog v.2 -->
    </div>

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->
{% endblock %}