<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Progressive Website & Web App | SIMM {% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="SIMM" />
    <meta name="theme-color" content="#2e4553">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=US-ASCII">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main_v1.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/mdb.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.jpg") }}">
    <meta name="google-site-verification" content="F4DHHSeY5OCnH90Gh9lnw7vFblgRjpiWDVdqQx4Q4KE" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93689627-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-93689627-2');
    </script>
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "WebSite",
            "@id": "#website",
            "url": "https:\/\/www.simm.co.za\/",
            "name": "SIMM",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https:\/\/www.simm.co.za\/?s={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "SIMM",
            "alternateName": "SIMM",
            "url": "https://www.simm.co.za",
            "logo": "https://www.simm.co.za/images/logo.png",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "0798851886",
                "contactType": "customer service",
                "areaServed": "ZA",
                "availableLanguage": "English"
            },
            "sameAs": [
                "https://business.facebook.com/SIMM.pwa/?business_id=195314184299300",
                "https://www.linkedin.com/company/11304682/"
            ]
        }
    </script>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for("static", filename="images/logo.png") }}" width="150" alt="SIMM Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block nav_active %} {% endblock %}">
                        <a class="nav-link rounded" href="/">Home {% block nav_span %} {% endblock %}</a>
                    </li>
                    <li class="nav-item {% block nav_active2 %} {% endblock %}">
                        <a class="nav-link rounded" href="/about_us">About Us {% block nav_span2 %} {% endblock %}</a>
                    </li>
                    <li class="nav-item {% block nav_active3 %} {% endblock %}">
                        <a class="nav-link rounded" href="/services">Services {% block nav_span3 %} {% endblock %}</a>
                    </li>
                    <li class="nav-item {% block nav_active4 %} {% endblock %}">
                        <a class="nav-link rounded" href="/portfolio">Portfolio {% block nav_span4 %} {% endblock %}</a>
                    </li>
                    <li class="nav-item {% block nav_active5 %} {% endblock %}">
                        <a class="nav-link rounded" href="/pricing">Pricing {% block nav_span5 %} {% endblock %}</a>
                    </li>
                    <li class="nav-item {% block nav_active6 %} {% endblock %}">
                        <a class="nav-link rounded" href="/contact_us">Contact Us {% block nav_span6 %} {% endblock %}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a target="_blank" href="https://business.facebook.com/SIMM.pwa/?business_id=195314184299300"
                            class="fa-lg fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://www.linkedin.com/company/simm-pwa/" class="fa-lg li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
        <div style="background-color: #21293c;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!-- Facebook -->
                        <a target="_blank" href="https://business.facebook.com/SIMM.pwa/?business_id=195314184299300"
                            class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a target="_blank" href="https://www.linkedin.com/company/simm-pwa/" class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">SIMM</h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>SIMM is a Progressive Website and Web App Development Agency in South Africa. SIMM designs and
                        develops custom websites and web apps.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">General</h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="/about_us">About Us</a>
                    </p>
                    <p>
                        <a href="/services">Services</a>
                    </p>
                    <p>
                        <a href="/portfolio">Portfolio</a>
                    </p>
                    <p>
                        <a href="/pricing">Pricing</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Other links</h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="/privacy_policy">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="/terms_of_service">Terms of Service</a>
                    </p>
                    <p>
                        <a href="/sitemap">Sitemap</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><i class="fa fa-home mr-3"></i> South Africa</p>
                    <p><i class="fa fa-envelope mr-3"></i> info@simm.co.za</p>
                    <p><i class="fa fa-phone mr-3"></i> +27 79 885 1886</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://simm.co.za"> simm.co.za</a>
        </div>
    </footer>
    <!-- Footer -->

</body>

<script src="{{ url_for("static", filename="js/jquery-3.3.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/mdb.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
<script>
    $(function () {
        $('.nav-tabs a:first').tab('show');
    });
</script>

</html>