{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Portfolio || SIMM {% endblock %}</title>
    <meta name="description" content="List of Products SIMM offers. Progressive website & web app development being the key feature." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Portfolio | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za/portfolio.html" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="List of Products SIMM offers. Progressive website & web app development being the key feature." />
    <meta name="twitter:title" content="Portfolio | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za/portfolio.html" />
    <meta name="twitter:card" content="summary" />

</head>
{% block nav_active4 %} active {% endblock %}
{% block nav_span4 %}<span class="sr-only">(current)</span> {% endblock %}

{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/portfolio-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Our never
                                ending portfolio!</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">Find out who we have worked with and our latest portfolio below.</h5>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Section: Blog v.2 -->
    <section class="text-center my-5">
        <div class="container">
            <h1 class="font-weight-bold my-2">Latest Portfolio & Blog</h1>
            <!-- Section description -->
            <p class="dark-grey-text mx-auto mb-5">Dive deep into our previous work and additional news
                from SIMM.</p>
            <!-- Grid row -->
            <div class="row text-center">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!--Featured image-->
                    <div class="overlay rounded">
                        <img src="{{ url_for("static", filename="images/portfolio/movaki.png") }}" width="75%" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Fire Web App!</h4>
                        <p class="dark-grey-text">SIMM is proud to announce the release of Movaki, A new way to transport
                            goods around Mamelodi. Movaki is in its early stages but has much potential to grow
                        </p>
                        <a href="https://movaki.com/" target="_blank" class="btn btn-primary rounded btn-md"><i class="fa fa-clone left"></i>
                            Visit Website</a>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <!--Featured image-->
                    <div class="overlay rounded">
                        <img src="{{ url_for("static", filename="images/portfolio/decksandthings-logo.png") }}" width="75%" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Building amazing structures to developing a structured
                            website.</h4>
                        <p class="dark-grey-text">SIMM is proud to announce Decks and Things modern fast and Progressive
                            website. They offer amazing services. They build incredible decks, walkways, treehouses and
                            more!
                        </p>
                        <a href="https://www.decksandthings.co.za/" target="_blank" class="btn btn-primary rounded btn-md"><i
                                class="fa fa-clone left"></i> Visit Website</a>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6">
                    <!--Featured image-->
                    <div class="overlay rounded">
                        <img src="{{ url_for("static", filename="images/portfolio/winmar-logo.png") }}" width="75%" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Winmars final modern updated website.</h4>
                        <p class="dark-grey-text">SIMM is proud to announce Winmar's new and improved website. fast load
                            times and easy to navigate. SIMM thanks Winmar and looks forward to future development for
                            them.
                        </p>
                        <a href="https://www.winmarsa.co.za/" target="_blank" class="btn btn-primary rounded btn-md"><i
                                class="fa fa-clone left"></i> Visit Website</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <div style="padding-top:1em" class="row text-center">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6">
                    <!--Featured image-->
                    <div class="overlay rounded">
                        <img src="{{ url_for("static", filename="images/portfolio/doulos-logo.png") }}" width="75%" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Fast, Secure and reliable courier service</h4>
                        <p class="dark-grey-text">SIMM is proud to announce first modern and responsive webiste. Doulos
                            Couriers are the first to experience the Service Worker at full action, Controlling their
                            site so that it performs at 100%
                        </p>
                        <a href="https://www.douloscouriers.co.za/" target="_blank" class="btn btn-primary rounded btn-md"><i
                                class="fa fa-clone left"></i> Visit Website</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
    </section>
    <!-- Section: Blog v.2 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="contact-us.php" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}