{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Pricing || SIMM {% endblock %}</title>
    <meta name="description" content="SIMM Website Hosting and Digital Marketing Price Plans." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Pricing | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za/price.html" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="SIMM Website Hosting and Digital Marketing Price Plans." />
    <meta name="twitter:title" content="Pricing | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za/price.html" />
    <meta name="twitter:card" content="summary" />

</head>
{% block nav_active5 %} active {% endblock %}
{% block nav_span5 %}<span class="sr-only">(current)</span> {% endblock %}

{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/pricing-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Website
                                hosting and Digital marketing</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">Below is the different price for digital marketing and website
                                hosting, each offering something different.</h5>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Section: Pricing v.2 -->
    <section class="text-center my-5">
        <div class="container">
            <h1 class="font-weight-bold text-center my-2">Digital Marketing Pricing</h1>
            <p class="text-centermx-auto mb-5">Monthly Digital Marketing Fees</p>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="card card-image" style="background-image: linear-gradient(179.84deg, #21293C -9.41%, rgba(0, 197, 255, 0.679558) 518.4%, rgba(0, 224, 255, 0) 562.94%);">
                        <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
                            <div class="card-body">
                                <h5>Basic</h5>
                                <div class="price pt-4">
                                    <h2 class="number mb-4">R500</h2>
                                </div>
                                <ul class="striped mb-0">
                                    <li>
                                        <p>Google Marketing,</p>
                                    </li>
                                    <li>
                                        <p>Facebook Marketing,</p>
                                    </li>
                                    <li>
                                        <p>LinkedIn Marketing. </p>
                                    </li>
                                </ul>
                                <a href="/contact_us" class="btn rounded btn-outline-white"> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <div class="card card-image" style="background-image: linear-gradient(179.84deg, #21293C -9.41%, rgba(0, 197, 255, 0.679558) 518.4%, rgba(0, 224, 255, 0) 562.94%);">
                        <div class="text-white text-center pricing-card d-flex align-items-center rgba-blue-strong py-3 px-3 rounded">
                            <div class="card-body">
                                <h5>Professional</h5>
                                <div class="price pt-4">
                                    <h2 class="number mb-4">R1500</h2>
                                </div>
                                <ul class="striped mb-0">
                                    <li>
                                        <p>Google Marketing,</p>
                                    </li>
                                    <li>
                                        <p>Facebook Marketing,</p>
                                    </li>
                                    <li>
                                        <p>LinkedIn Marketing. </p>
                                    </li>
                                </ul>
                                <a href="/contact_us" class="btn rounded btn-outline-white"> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-image" style="background-image: linear-gradient(179.84deg, #21293C -9.41%, rgba(0, 197, 255, 0.679558) 518.4%, rgba(0, 224, 255, 0) 562.94%);">
                        <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
                            <div class="card-body">
                                <h5>Business</h5>
                                <div class="price pt-4">
                                    <h2 class="number mb-4">R1000</h2>
                                </div>
                                <ul class="striped mb-0">
                                    <li>
                                        <p>Google Marketing,</p>
                                    </li>
                                    <li>
                                        <p>Facebook Marketing,</p>
                                    </li>
                                    <li>
                                        <p>LinkedIn Marketing. </p>
                                    </li>
                                </ul>
                                <a href="/contact_us" class="btn rounded btn-outline-white"> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-5">

            <h2 class="font-weight-bold text-center my-2">For Website Development, Please contact us for a quote.</h2>
            <a href="/contact_us" class="btn btn-primary rounded"> Contact Us</a>
            <hr class="my-5">

            <h1 class="font-weight-bold text-center my-2">Website Hosting Pricing</h1>
            <p class="text-center mx-auto mb-5">Monthly Website Hosting Fees</p>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="card card-image" style="background-image: linear-gradient(179.84deg, #21293C -9.41%, rgba(0, 197, 255, 0.679558) 518.4%, rgba(0, 224, 255, 0) 562.94%);">
                        <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
                            <div class="card-body">
                                <h5>Starter</h5>
                                <div class="price pt-4">
                                    <h2 class="number mb-4">R50</h2>
                                </div>
                                <ul class="striped mb-0">
                                    <li>
                                        <p><strong>5GB</strong> SSD Storage space,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited </strong>Bandwidth,</p>
                                    </li>
                                    <li>
                                        <p><strong>75</strong> Email Addresses,</p>
                                    </li>
                                    <li>
                                        <p><strong>50</strong> MySQL Database,</p>
                                    </li>
                                    <li>
                                        <p><strong>Host 1</strong> Domain Name,</p>
                                    </li>
                                    <li>
                                        <p><strong>2</strong> Subdomains.</p>
                                    </li>
                                </ul>
                                <a href="/contact_us" class="btn rounded btn-outline-white"> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <div class="card card-image" style="background-image: linear-gradient(179.84deg, #21293C -9.41%, rgba(0, 197, 255, 0.679558) 518.4%, rgba(0, 224, 255, 0) 562.94%);">
                        <div class="text-white text-center pricing-card d-flex align-items-center rgba-blue-strong py-3 px-3 rounded">
                            <div class="card-body">
                                <h5>Business</h5>
                                <div class="price pt-4">
                                    <h2 class="number mb-4">R100</h2>
                                </div>
                                <ul class="striped mb-0">
                                    <li>
                                        <p><strong>10GB</strong> SSD Storage space,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited </strong>Bandwidth,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited</strong> Email Addresses,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited</strong> MySQL Database,</p>
                                    </li>
                                    <li>
                                        <p><strong>Host 1</strong> Domain Name,</p>
                                    </li>
                                    <li>
                                        <p><strong>5</strong> Subdomains.</p>
                                    </li>
                                </ul>
                                <a href="/contact_us" class="btn rounded btn-outline-white"> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-image" style="background-image: linear-gradient(179.84deg, #21293C -9.41%, rgba(0, 197, 255, 0.679558) 518.4%, rgba(0, 224, 255, 0) 562.94%);">
                        <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
                            <div class="card-body">
                                <h5>Enterprise</h5>
                                <div class="price pt-4">
                                    <h2 class="number mb-4">R200</h2>
                                </div>
                                <ul class="striped mb-0">
                                    <li>
                                        <p><strong>Unlimited</strong> SSD Storage space,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited </strong>Bandwidth,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited</strong> Email Addresses,</p>
                                    </li>
                                    <li>
                                        <p><strong>Unlimited</strong> MySQL Database,</p>
                                    </li>
                                    <li>
                                        <p><strong>Host 1</strong> Domain Name,</p>
                                    </li>
                                    <li>
                                        <p><strong>10</strong> Subdomains.</p>
                                    </li>
                                </ul>
                                <a href="/contact_us" class="btn rounded btn-outline-white"> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Pricing v.2 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}