{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Privacy Policy || SIMM {% endblock %}</title>
    <meta name="description" content="SIMM Privacy Policy page, make sure you read it." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Privacy Policy | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="SIMM Privacy Policy page, make sure you read it." />
    <meta name="twitter:title" content="Privacy Policy | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za" />
    <meta name="twitter:card" content="summary" />

</head>

{% block content %}

    <!-- Main navigation -->
    <header style="height:60%;">
        <!-- Full Page Intro -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/policy-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Privacy
                                Policy</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Projects section v.3 -->
    <section class="my-5">
        <div class="container">
            <h2 class="font-weight-bold text-center my-2">Welcome to SIMM's Privacy Policy</h2>
            <p class="dark-grey-text text-center mx-auto mb-2">This privacy policy has been compiled to better serve those
                who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII,
                as described in US privacy law and information security, is information that can be used on its own or
                with other information to identify, contact, or locate a single person, or to identify an individual in
                context. Please read our privacy policy carefully to get a clear understanding of how we collect, use,
                protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">What personal information do we collect from the people
                                that visit our blog, website or app?</h5>
                            <p class="dark-grey-text">When ordering or registering on our site, as appropriate, you may be
                                asked to enter your name, email address, mailing address, phone number or other details
                                to help you with your experience.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">When do we collect information?</h5>
                            <p class="dark-grey-text">We collect information from you when you place an order or enter
                                information on our site.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">How do we use your information?</h5>
                            <p class="dark-grey-text">We may use the information we collect from you when you register, make
                                a purchase, sign up for our newsletter, respond to a survey or marketing communication,
                                surf the website, or use certain other site features in the following ways:</p>
                            <p class="dark-grey-text">• To personalize your experience and to allow us to deliver the type
                                of content and product offerings in which you are most interested.<br>
                                • To allow us to better service you in responding to your customer service requests.<br>
                                • To quickly process your transactions.<br>
                                • To send periodic emails regarding your order or other products and services.<br>
                                • To follow up with them after correspondence (live chat, email or phone inquiries)</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">How do we protect your information?</h5>
                            <p class="dark-grey-text">Our website is scanned on a regular basis for security holes and known
                                vulnerabilities in order to make your visit to our site as safe as possible.</p>
                            <p class="dark-grey-text">We use regular Malware Scanning.</p>
                            <p class="dark-grey-text">Your personal information is contained behind secured networks and is
                                only accessible by a limited number of persons who have special access rights to such
                                systems, and are required to keep the information confidential. In addition, all
                                sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL)
                                technology.</p>
                            <p class="dark-grey-text">We implement a variety of security measures when a user places an
                                order enters, submits, or accesses their information to maintain the safety of your
                                personal information.</p>
                            <p class="dark-grey-text">For your convenience we may store your credit card information longer
                                than 30 days in order to expedite future orders, and to automate the billing process.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Do we use 'cookies'?</h5>
                            <p class="dark-grey-text">Yes. Cookies are small files that a site or its service provider
                                transfers to your computer's hard drive through your Web browser (if you allow) that
                                enables the site's or service provider's systems to recognize your browser and capture
                                and remember certain information. For instance, we use cookies to help us remember and
                                process the items in your shopping cart. They are also used to help us understand your
                                preferences based on previous or current site activity, which enables us to provide you
                                with improved services. We also use cookies to help us compile aggregate data about
                                site traffic and site interaction so that we can offer better site experiences and
                                tools in the future.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">We use cookies to:</h5>
                            <p class="dark-grey-text">Compile aggregate data about site traffic and site interactions in
                                order to offer better site experiences and tools in the future. We may also use trusted
                                third-party services that track this information on our behalf.</p>
                            <p class="dark-grey-text">You can choose to have your computer warn you each time a cookie is
                                being sent, or you can choose to turn off all cookies. You do this through your browser
                                settings. Since browser is a little different, look at your browser's Help Menu to
                                learn the correct way to modify your cookies.</p>
                            <p class="dark-grey-text">If you turn cookies off, Some of the features that make your site
                                experience more efficient may not function properly.It won't affect the user's
                                experience that make your site experience more efficient and may not function properly.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Third-party disclosure</h5>
                            <p class="dark-grey-text">We do not sell, trade, or otherwise transfer to outside parties your
                                Personally Identifiable Information.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Third-party links</h5>
                            <p class="dark-grey-text">We do not include or offer third-party products or services on our
                                website.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Google</h5>
                            <p class="dark-grey-text">Google's advertising requirements can be summed up by Google's
                                Advertising Principles. They are put in place to provide a positive experience for
                                users. <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">Google Support Page</a></p>
                            <p class="dark-grey-text">We use Google AdSense Advertising on our website.</p>
                            <p class="dark-grey-text">Google, as a third-party vendor, uses cookies to serve ads on our
                                site. Google's use of the DART cookie enables it to serve ads to our users based on
                                previous visits to our site and other sites on the Internet. Users may opt-out of the
                                use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">We have implemented the following:</h5>
                            <p class="dark-grey-text">• Demographics and Interests Reporting</p>
                            <p class="dark-grey-text">We, along with third-party vendors such as Google use first-party
                                cookies (such as the Google Analytics cookies) and third-party cookies (such as the
                                DoubleClick cookie) or other third-party identifiers together to compile data regarding
                                user interactions with ad impressions and other ad service functions as they relate to
                                our website.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Opting out:</h5>
                            <p class="dark-grey-text">Users can set preferences for how Google advertises to you using the
                                Google Ad Settings page. Alternatively, you can opt out by visiting the Network
                                Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser
                                add on.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">California Online Privacy Protection Act</h5>
                            <p class="dark-grey-text">CalOPPA is the first state law in the nation to require commercial
                                websites and online services to post a privacy policy. The law's reach stretches well
                                beyond California to require any person or company in the United States (and
                                conceivably the world) that operates websites collecting Personally Identifiable
                                Information from California consumers to post a conspicuous privacy policy on its
                                website stating exactly the information being collected and those individuals or
                                companies with whom it is being shared. - See more at:
                                http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">According to CalOPPA, we agree to the following:</h5>
                            <p class="dark-grey-text">Users can visit our site anonymously.<br>
                                Once this privacy policy is created, we will add a link to it on our home page or as a
                                minimum, on the first significant page after entering our website. Our Privacy Policy
                                link includes the word 'Privacy' and can easily be found on the page specified above.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">You will be notified of any Privacy Policy changes:</h5>
                            <p class="dark-grey-text">• On our Privacy Policy Page</p>
                            <p class="dark-grey-text">Can change your personal information:<br>
                                • By emailing us<br>
                                • By calling us</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">How does our site handle Do Not Track signals?</h5>
                            <p class="dark-grey-text">We honor Do Not Track signals and Do Not Track, plant cookies, or use
                                advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Does our site allow third-party behavioral tracking?</h5>
                            <p class="dark-grey-text">It's also important to note that we allow third-party behavioral
                                tracking.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">COPPA (Children Online Privacy Protection Act)</h5>
                            <p class="dark-grey-text">When it comes to the collection of personal information from children
                                under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA)
                                puts parents in control. The Federal Trade Commission, United States' consumer
                                protection agency, enforces the COPPA Rule, which spells out what operators of websites
                                and online services must do to protect children's privacy and safety online.</p>
                            <p class="dark-grey-text">We do not specifically market to children under the age of 13 years
                                old.<br>
                                Do we let third-parties, including ad networks or plug-ins collect PII from children
                                under 13?<br>
                                No we do not.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Fair Information Practices</h5>
                            <p class="dark-grey-text">The Fair Information Practices Principles form the backbone of privacy
                                law in the United States and the concepts they include have played a significant role
                                in the development of data protection laws around the globe. Understanding the Fair
                                Information Practice Principles and how they should be implemented is critical to
                                comply with the various privacy laws that protect personal information.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">In order to be in line with Fair Information Practices we
                                will take the following responsive action, should a data breach occur:</h5>
                            <p class="dark-grey-text">We will notify you via email<br>
                                • Within 1 business day</p>
                            <p class="dark-grey-text">We also agree to the Individual Redress Principle which requires that
                                individuals have the right to legally pursue enforceable rights against data collectors
                                and processors who fail to adhere to the law. This principle requires not only that
                                individuals have enforceable rights against data users, but also that individuals have
                                recourse to courts or government agencies to investigate and/or prosecute
                                non-compliance by data processors.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">CAN SPAM Act</h5>
                            <p class="dark-grey-text">The CAN-SPAM Act is a law that sets the rules for commercial email,
                                establishes requirements for commercial messages, gives recipients the right to have
                                emails stopped from being sent to them, and spells out tough penalties for violations.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">We collect your email address in order to:</h5>
                            <p class="dark-grey-text">• Process orders and to send information and updates pertaining to
                                orders.<br>
                                • Send you additional information related to your product and/or service</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">To be in accordance with CANSPAM, we agree to the
                                following:</h5>
                            <p class="dark-grey-text">• Not use false or misleading subjects or email addresses.<br>
                                • Identify the message as an advertisement in some reasonable way.<br>
                                • Include the physical address of our business or site headquarters.<br>
                                • Monitor third-party email marketing services for compliance, if one is used.<br>
                                • Honor opt-out/unsubscribe requests quickly.<br>
                                • Allow users to unsubscribe by using the link at the bottom of each email.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">If at any time you would like to unsubscribe from
                                receiving future emails, you can email us at:</h5>
                            <p class="dark-grey-text">• Follow the instructions at the bottom of each email.
                                and we will promptly remove you from ALL correspondence.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Contacting Us</h5>
                            <p class="dark-grey-text">If there are any questions regarding this privacy policy, you may
                                contact us using the information below.</p>
                            <p class="dark-grey-text">• https://www.simm.co.za<br>
                                • info@simm.co.za</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Last Edited on 2018-10-16</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects section v.3 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}