{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Progressive Web App || SIMM {% endblock %}</title>
    <meta name="description" content="SIMM is a Front-End Progressive Website and Web App. SIMM develops custom designed Progressive websites for your business." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Progressive Web App Development | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="SIMM is a Front-End Progressive Website and Web App. SIMM develops custom designed Progressive websites for your business." />
    <meta name="twitter:title" content="Progressive Web App Development | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za" />
    <meta name="twitter:card" content="summary" />

</head>

{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/index-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">What are
                                Progressive Websites & Web Apps?</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">Below is additional information for Progressive Websites & Web
                                Apps</h5>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Projects section v.3 -->
    <section class="my-5">
        <div class="container">
            <h2 class="font-weight-bold text-center my-2">Additional Information:</h2>
            <p class="dark-grey-text text-center mx-auto mb-2">A Progressive Web App (PWA) is a cross between application
                and mobile websites. It uses modern web capabilities to deliver an app-like experience to mobile users
                to meet their fast surfing requirements by deployment to servers, access through URLs and index by
                search Engines to get better rankings. That’s why developers believe that PWAs are the future of
                Mobility strategy.</p>
            <p class="dark-grey-text text-center mx-auto mb-2">In simple words, PWAs are regular web pages but look like an
                application that enhances user experience.</p>
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="font-weight-bold my-5">Features of Progressive Web App's</h3>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">1. Progressive</h5>
                            <p class="dark-grey-text">Built with Progressive enhancements PWA's Works on every browser, for
                                every user, every time on every phone.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">2. Responsive</h5>
                            <p class="dark-grey-text">Fit to every screen mobile or fixed, desktop, mobile, tablet or
                                phablet.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">3. Connectivity</h5>
                            <p class="dark-grey-text">Service Workers of PWA's can work offline or in low quality internet
                                connections.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">4. App-like</h5>
                            <p class="dark-grey-text">With mobile friendly websites, Service Workers convert a browser look
                                of the app into a more mobile app like design.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">5. Discoverable</h5>
                            <p class="dark-grey-text">Service Workers make PWA's easily discoverable by search engines
                                because of the page load speed and user friendly responsive design.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">6. Secure</h5>
                            <p class="dark-grey-text mb-3">As Service Workers only work over HTTPS, this means that security
                                and privacy of users and data is a definite in PWA's.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects section v.3 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}