{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %}Services | SIMM{% endblock %}</title>
    <meta name="description" content="SIMM Provides the best Progressive website & web app services with the products we offer in South Africa." />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Services | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za/services.html" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="SIMM Provides the best Progressive website & web app services with the products we offer in South Africa." />
    <meta name="twitter:title" content="Services | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za/services.html" />
    <meta name="twitter:card" content="summary" />

</head>
{% block nav_active3 %} active {% endblock %}
{% block nav_span3 %}<span class="sr-only">(current)</span> {% endblock %}

{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/services-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center bottom;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">These are
                                our services, lets have a look!</h2>
                            <h5 class="white-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                                data-wow-delay="0.2s">SIMM offers many services, scroll down to see what we offer.</h5>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <a class="white-text"><i class="header-icon fas fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Section: Blog v.2 -->
    <section class="text-center my-5">
        <div class="container">
            <h1 class="font-weight-bold my-5">SIMM Provides three main services at our finest ability!</h1>
            <div class="row">

                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home-services1.jpg") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a href="#!" class="green-text">
                        <h6 class="font-weight-bold mb-3"><i class="fa fa-desktop pr-2"></i>Development</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Progressive Website & Web App</strong></h4>
                    <p class="dark-grey-text">The future of web development is here. Progressive Websites & Web
                        Apps are incredible. Learn more now and take your business to the next level</p>
                    <a href="/progressive" class="btn btn-green btn-rounded rounded">Read more</a>
                </div>

                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <div class="overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home-services2.jpg") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a href="#!" class="deep-orange-text">
                        <h6 class="font-weight-bold mb-3"><i class="fa fa-bullhorn pr-2"></i>Social Media</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Social Media & Search Engine Marketing</strong></h4>
                    <p class="dark-grey-text">Modern and fully mobile responsive. SIMM does not only focus on the
                        look of the website but how it functions. Providing SEO and Responsive web development.</p>
                    <a href="/digital_marketing" class="btn btn-deep-orange btn-rounded rounded ">Read more</a>
                </div>

                <div class="col-lg-4 col-md-6 mb-0">
                    <div class="overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid rounded" src="{{ url_for("static", filename="images/home-services3.jpg") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a href="#!" class="blue-text">
                        <h6 class="font-weight-bold mb-3"><i class="fa fa-cloud pr-2"></i>Hosting</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Website & Web App SSD Hosting</strong></h4>
                    <p class="dark-grey-text">SIMM offers affordable website hosting plans from personal plans to
                        even reseller. Providing a 24/7 uptime.</p>
                    <a href="/pricing" class="btn btn-info btn-rounded rounded ">Read more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.2 -->

    <!-- Section: Features v.1 -->
    <section id="index-service" class="text-center my-5">
        <div class="container">
            <h2 class="font-weight-bold my-2">Why Choose Us?</h2>
            <p class="lead grey-text mx-auto mb-5">Special expertise to develop our services.</p>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" width="25%" src="{{ url_for("static", filename="images/laptop.svg") }}">
                    <!-- <i class="fa fa-area-chart fa-3x red-text"></i> -->
                    <h5 class="font-weight-bold my-4">Web Design</h5>
                    <p class="dark-grey-text mb-md-0 mb-5">At SIMM we design and develop custom websites for your business.
                        This helps to build your unique brand identity.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="25%" src="{{ url_for("static", filename="images/app.svg") }}">
                    <!-- <i class="fa fa-book fa-3x cyan-text"></i> -->
                    <h5 class="font-weight-bold my-4">App Design</h5>
                    <p class="dark-grey-text mb-md-0 mb-5">Along with Web Design, SIMM uses the innovative new website
                        development technology called Progressive Web App to provide your business with an app like
                        feature for mobile phones.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="25%" src="{{ url_for("static", filename="images/settings.svg") }}">
                    <!-- <i class="fa fa-comments-o fa-3x orange-text"></i> -->
                    <h5 class="font-weight-bold my-4">Development</h5>
                    <p class="dark-grey-text mb-0">Custom development and design to the unique Progressive website & web app
                        development technology providing a step into the future and in front of your competition.
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:2em;">
                <div class="col-md-4">
                    <img class="img-fluid" width="25%" src="{{ url_for("static", filename="images/goal.svg") }}">
                    <!-- <i class="fa fa-area-chart fa-3x red-text"></i> -->
                    <h5 class="font-weight-bold my-4">Start Up</h5>
                    <p class="dark-grey-text mb-md-0 mb-5">At SIMM we love to help Start Up companies. Using Progressive web
                        development in your website and web app. your business will be one step ahead of your
                        competition.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="25%" src="{{ url_for("static", filename="images/handshake.svg") }}">
                    <!-- <i class="fa fa-book fa-3x cyan-text"></i> -->
                    <h5 class="font-weight-bold my-4">Branding</h5>
                    <p class="dark-grey-text mb-md-0 mb-5">Using custom development and design to build your website, SIMM
                        incorporates your businesses into the design.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="25%" src="{{ url_for("static", filename="images/presentation.svg") }}">
                    <!-- <i class="fa fa-comments-o fa-3x orange-text"></i> -->
                    <h5 class="font-weight-bold my-4">Marketing</h5>
                    <p class="dark-grey-text mb-0">Using large online marketing websites such as Facebook, Linked in and
                        Google Search. We guarantee your online marketing presence will be a success.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Features v.1 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}