{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Sitemap || SIMM {% endblock %}</title>

</head>

{% block content %}

    <!-- Projects section v.3 -->
    <section class="my-5" style="padding-top:1.5rem">
        <div class="container">
            <h2 class="font-weight-bold text-center my-2">Welcome to SIMM's Sitemap</h2>
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/">Home</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/about_us">About us</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/services">Services</a></p>
                            <p>- <a href="/progressive">Progressive Web App Development</a></p>
                            <p>- <a href="/digital_marketing">Digital Marketing</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/portfolio">Portfolio</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/pricing">Pricing</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/contact_us">Contact Us</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/privacy_policy">Privacy Policy</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <p class=" mb-2"><a href="/terms_of_service">Terms Of Service</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects section v.3 -->

{% endblock %}