{% extends 'layout.jinja2' %}

<head>

    <title>{% block title %} Terms Of Service || SIMM {% endblock %}</title>
    <meta name="description" content="SIMM Terms of Service" />
    <meta name="keywords" content="simm, simm web, simm app, simm web app, simm progressive, simm progressive web app, simm website, progressive website, progressive app, progressive web app, simm south africa, simm development, development, website development, custom website, custom development, simm future, progressive web app, progressive, web app, website application, web application, website application, simm south africa " />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Terms of Service | SIMM" />
    <meta property="og:image" content="images/favicon.jpg" />
    <meta property="og:url" content="https://www.simm.co.za" />
    <meta property="og:site_name" content="SIMM" />
    <meta property="og:description" content="SIMM Terms of Service" />
    <meta name="twitter:title" content="Terms of Service | SIMM" />
    <meta name="twitter:image" content="images/favicon.jpg" />
    <meta name="twitter:url" content="https://www.simm.co.za" />
    <meta name="twitter:card" content="summary" />

</head>

{% block content %}

    <!-- Main navigation -->
    <header style="height:60%;">
        <!-- Full Page Intro -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for("static", filename="images/terms-header.jpg") }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 text-center">
                            <h2 class="white-text display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Terms of
                                Service</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->

    <!-- Projects section v.3 -->
    <section class="my-5">
        <div class="container">
            <h2 class="font-weight-bold text-center my-2">Welcome to SIMM's Terms of Service</h2>
            <p class="dark-grey-text text-center mx-auto mb-2">Please read at our Terms of Service carefully and notify us
                regarding any questions!</p>
            <hr class="my-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">1. Terms</h5>
                            <p class="dark-grey-text">By accessing the website at https://www.simm.co.za, you are agreeing
                                to be bound by these terms of service,
                                all applicable laws and regulations, and agree that you are responsible for compliance
                                with any applicable local laws.
                                If you do not agree with any of these terms, you are prohibited from using or accessing
                                this site.
                                The materials contained in this website are protected by applicable copyright and
                                trademark law.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">2. Use License</h5>
                            <p class="dark-grey-text">Permission is granted to temporarily download one copy of the
                                materials (information or software) on SIMM's website for personal, non-commercial
                                transitory viewing only.
                                This is the grant of a license, not a transfer of title, and under this license you may
                                not:</p>
                            <p class="dark-grey-text">- modify or copy the materials;</p>
                            <p class="dark-grey-text">- use the materials for any commercial purpose, or for any public
                                display (commercial or non-commercial); </p>
                            <p class="dark-grey-text">- attempt to decompile or reverse engineer any software contained on
                                SIMM's website; </p>
                            <p class="dark-grey-text">- remove any copyright or other proprietary notations from the
                                materials; or </p>
                            <p class="dark-grey-text">- transfer the materials to another person or "mirror" the materials
                                on any other server.</p>
                            <p class="dark-grey-text">This license shall automatically terminate if you violate any of these
                                restrictions and may be terminated by SIMM at any time.
                                Upon terminating your viewing of these materials or upon the termination of this
                                license,
                                you must destroy any downloaded materials in your possession whether in electronic or
                                printed format.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">3. Disclaimer</h5>
                            <p class="dark-grey-text">The materials on SIMM's website are provided on an 'as is' basis. SIMM
                                makes no warranties, expressed or implied, and hereby disclaims and negates all other
                                warranties including, without limitation, implied warranties or conditions of
                                merchantability, fitness for a particular purpose, or non-infringement of intellectual
                                property or other violation of rights.</p>
                            <p class="dark-grey-text">Further, SIMM does not warrant or make any representations concerning
                                the accuracy, likely results, or reliability of the use of the materials on its website
                                or otherwise relating to such materials or on any sites linked to this site.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">4. Limitations</h5>
                            <p class="dark-grey-text">In no event shall SIMM or its suppliers be liable for any damages
                                (including, without limitation, damages for loss of data or profit, or due to business
                                interruption) arising out of the use or inability to use the materials on SIMM's
                                website, even if SIMM or a SIMM authorized representative has been notified orally or
                                in writing of the possibility of such damage. Because some jurisdictions do not allow
                                limitations on implied warranties, or limitations of liability for consequential or
                                incidental damages, these limitations may not apply to you.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">5. Accuracy of materials</h5>
                            <p class="dark-grey-text">In no event shall SIMM or its suppliers be liable for any damages
                                (including, without limitation, damages for loss of data or profit, or due to business
                                interruption) arising out of the use or inability to use the materials on SIMM's
                                website, even if SIMM or a SIMM authorized representative has been notified orally or
                                in writing of the possibility of such damage. Because some jurisdictions do not allow
                                limitations on implied warranties, or limitations of liability for consequential or
                                incidental damages, these limitations may not apply to you.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">6. Links</h5>
                            <p class="dark-grey-text mb-3">SIMM has not reviewed all of the sites linked to its website and
                                is not responsible for the contents of any such linked site. The inclusion of any link
                                does not imply endorsement by SIMM of the site. Use of any such linked website is at
                                the user's own risk.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">7. Modifications</h5>
                            <p class="dark-grey-text mb-3">SIMM may revise these terms of service for its website at any
                                time without notice. By using this website you are agreeing to be bound by the then
                                current version of these terms of service.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">8. Governing Law</h5>
                            <p class="dark-grey-text mb-3">These terms and conditions are governed by and construed in
                                accordance with the laws of South Africa and you irrevocably submit to the exclusive
                                jurisdiction of the courts in that State or location.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-2">Last Edited on 2018-10-16</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects section v.3 -->

    <!-- Section: Blog v.1 -->
    <section class="contact-us-bottom" style="background-color: #f2f6fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="padding-top:3em;">
                    <h3 class="font-weight-bold mb-3"><strong>Contact Us!</strong></h3>
                    <p>Contact us today for more information. Send us any questions you want to know and we will be
                        sure to answer them!</p>
                    <a href="/contact_us" class="btn btn-primary rounded mb-lg-0 mb-4">Contact Us</a>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <img class="img-fluid rounded" width="75%" src="{{ url_for("static", filename="images/contact.gif") }}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Blog v.1 -->

{% endblock %}